server:
  port: 8768

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
spring:
  application:
    name: web-feign
  redis:
    database: 0
    host: 127.0.0.1
  jedis:
    pool:
      max-active: 8
      max-idle: 8
      max-wait: -1
      min-idle: 0
    password: ''
    port: 6379
    timeout: 5000
