<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工管理</title>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../js/bootstrap/css/bootstrap.min.css">
    <script src="../js/bootstraps/bootstrap-paginator.js"></script>
    <script src="../js/vue/vue.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
</head>
<body style="background-color:rgba(0,0,0,0);">
<div id="app" class="container">
    <h1>员工管理</h1>
    <button style="background-color:rgba(0,0,0,0);" type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" onclick="xiu(0);"><i class="fa fa-file-o"></i> 新建</button>
    <button style="background-color:rgba(0,0,0,0);" type="button" class="btn btn-default" title="删除" onclick="delpi()"><i class="fa fa-trash-o"></i> 删除</button>
    <button style="background-color:rgba(0,0,0,0);" type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
    <form action="" id="list_form">
        <div class="form-group">
            <label for="itemname" class="col-sm-1 control-label">名称：</label>
            <div class="col-sm-2">
                <input style="background-color:rgba(0,0,0,0);" type="text" class="form-control" id="itemname" v-model="itemname" placeholder="请输入名称">
            </div>
        </div>
        <button style="background-color:rgba(0,0,0,0);" type="button" class="btn btn-default" onclick="searchItemList()">搜索</button>
    </form>
    <br/>
    <table class="table table-bordered">
        <tr>
            <th><input id="selall" type="checkbox"></th>
            <th>序号</th>
            <th>项目编号</th>
            <th>项目名称</th>
            <th>项目负责人</th>
            <th>当前阶段</th>
            <th>项目状态</th>
            <th>开始日期</th>
            <th>操作</th>
        </tr>
        <tr v-for="item in itemlist">
            <td><input type="checkbox" name="che" :value="item.id"></td>
            <td>{{item.id}}</td>
            <td>{{item.itemnumber}}</td>
            <td>{{item.itemname}}</td>
            <td>{{item.itemprincipal}}</td>
            <td>{{item.itemstage}}</td>
            <td>{{item.itemstatus==0?'进行中':item.itemstatus==1?'已完成':'已延迟'}}</td>
            <td>{{item.itemcreatime}}</td>
            <td>
                <a data-toggle="modal" data-target="#editModal" @click="xiu(item.id)">[跟进]</a> |
                <a @click="shan(item.id)">[删除]</a>
            </td>
        </tr>
    </table>
    <div class="col-md-6">
        <strong>当前第 {{currPage}}页,每页<select style="width:50px;background-color:rgba(0,0,0,0);" v-model="pageSize" @change="shuaxin()">
            <option value="3">3</option>
            <option value="6">6</option>
            <option value="10">10</option>
        </select>条,共 {{totalPage}} 页.一共 {{total}} 条记录
        </strong>
    </div>
    <div id="example" style="text-align: right;"> <ul id="pageLimit"></ul> </div>
</div>
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="ppa">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">添加用户</h3>
            </div>
            <form id="myforms" method="post">
                <div class="modal-body">
                    <table class="table table-bordered table-striped"  width="800px">
                        <input class="form-control" name="id" style="display:none" readonly="readonly" v-model="list.id">
                        <tr>
                            <td>项目编号</td>
                            <td><input class="form-control" type="text" name="itemnumber" placeholder="编号" v-model="list.itemnumber"></td>
                        </tr>
                        <tr>
                            <td>项目名称</td>
                            <td><input class="form-control" type="text" name="itemname" placeholder="名称" v-model="list.itemname"></td>
                        </tr>
                        <tr>
                            <td>项目负责人</td>
                            <td><input class="form-control" type="text" name="itemprincipal" v-model="list.itemprincipal"></td>
                        </tr>
                        <tr>
                            <td>当前阶段</td>
                            <td> <select class="form-control" name="itemstage" v-model="list.itemstage">
                                <option value="需求对接">需求对接</option>
                                <option value="需求分析">需求分析</option>
                                <option value="产品分析">产品分析</option>
                            </select>
                            </td>
                        </tr>
                        <tr>
                            <td>项目状态</td>
                            <td><input type="radio" value="0" name="itemstatus" v-model="list.itemstatus">进行中
                                <input type="radio" value="1" name="itemstatus" v-model="list.itemstatus">已完成
                                <input type="radio" value="2" name="itemstatus" v-model="list.itemstatus">已延期
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" onclick="insert()">保存</button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            itemlist: "",
            totalPage:"",
            total:"",
            currPage:"1",
            pageSize:"3",
            itemname:""
        }
    })
    var vs = new Vue({
        el: '#ppa',
        data: {
            list:''
        }
    })
    function shuaxin(){
        searchItemList();
    }
    function shan(id) {
        $.ajax({
            url:"../item/del",
            type:"post",
            data:{id:id},
            success:function(data){
                alert(data)
                searchItemList();
            },
        });
    }
    //修改
    function xiu(id){
        $.ajax({
            url:"../item/huix",
            type:"post",
            data:{id:id},
            success:function(data){
                vs.list=data;
            },
        });
    }
    //新增
    function insert(){
        $.ajax({
            url:"../item/insert",
            type:"post",
            data:$("#myforms").serialize(),
            datatype:'json',
            success:function(data){
                alert(data)
                searchItemList();
            },
        });
    }
    //批删
    function delpi(){
        var arr = document.getElementsByName("che");
        var rid="";
        for ( var i = 0; i < arr.length; i++) {
            if (arr[i].checked) {
                rid+=rid==""?arr[i].value:","+arr[i].value;
            }
        }
        if (rid=="") {
            alert("请至少选中一条！");
            return;
        }
        $.ajax({
            url:"../item/del",
            type:"post",
            data:{'id':rid},
            success:function(data){
                alert(data)
                searchItemList();
            },
        });
    }
    //分页查询
    $(function() {
        searchItemList();
        $("#selall").click(
            function(){
                $("input[name='che']").attr("checked",this.checked);
            })
    })

    function searchItemList() {
        $.ajax({
            type:"post",
            url:"../item/select",
            data:{"currPage":vm.currPage,"pageSize":vm.pageSize,'itemname':vm.itemname},
            dataType:"json",
            success: function(result) {
                vm.itemlist = result.rows;
                vm.totalPage = result.totalPage;
                vm.total = result.total;
                vm.currPage = result.currPage;
                vm.pageSize = result.pageSize;
                setPage(result.currPage,result.totalPage,result.pageSize,searchItemList);
            },
        })
    }

    /**
     *
     * @param pageCurrent 当前所在页
     * @param pageSum 总页数
     * @param callback 调用ajax
     */
    function setPage(pageCurrent, pageSum, pageSize, callback) {
        $('#pageLimit').bootstrapPaginator({
            currentPage: pageCurrent,//当前的请求页面。
            totalPages: pageSum,//一共多少页。
            size:"normal",//应该是页眉的大小。
            bootstrapMajorVersion: 3,//bootstrap的版本要求。
            alignment:"right",
            numberOfPages:pageSize,//一页列出多少数据。
            itemTexts: function (type, page, current) {//如下的代码是将页眉显示的中文显示我们自定义的中文。
                switch (type) {
                    case "first": return "首页";
                    case "prev": return "上一页";
                    case "next": return "下一页";
                    case "last": return "末页";
                    case "page": return page;
                }
            },
            //当单击操作按钮的时候, 执行该函数, 调用ajax渲染页面
            onPageClicked: function (event,originalEvent,type,page) {
                // 把当前点击的页码赋值给currentPage, 调用ajax,渲染页面
                vm.currPage = page;
                callback && callback()
            }
        });
    }
</script>
</body>
</html>