<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.ContractBeanMapper" >
  <resultMap id="BaseResultMap" type="com.jk.entity.ContractBean" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="contract" property="contract" jdbcType="VARCHAR" />
    <result column="contractname" property="contractname" jdbcType="VARCHAR" />
    <result column="contracttype" property="contracttype" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="cometime" property="cometime" jdbcType="TIMESTAMP" />
    <result column="voidancetime" property="voidancetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, contract, contractname, contracttype, name, cometime, voidancetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_contract
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_contract
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jk.entity.ContractBean" >
    insert into t_contract (id, contract, contractname, 
      contracttype, name, cometime, 
      voidancetime)
    values (#{id,jdbcType=INTEGER}, #{contract,jdbcType=VARCHAR}, #{contractname,jdbcType=VARCHAR}, 
      #{contracttype,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{cometime,jdbcType=TIMESTAMP}, 
      #{voidancetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jk.entity.ContractBean" >
    insert into t_contract
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="contract != null" >
        contract,
      </if>
      <if test="contractname != null" >
        contractname,
      </if>
      <if test="contracttype != null" >
        contracttype,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="cometime != null" >
        cometime,
      </if>
      <if test="voidancetime != null" >
        voidancetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="contract != null" >
        #{contract,jdbcType=VARCHAR},
      </if>
      <if test="contractname != null" >
        #{contractname,jdbcType=VARCHAR},
      </if>
      <if test="contracttype != null" >
        #{contracttype,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="cometime != null" >
        #{cometime,jdbcType=TIMESTAMP},
      </if>
      <if test="voidancetime != null" >
        #{voidancetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.entity.ContractBean" >
    update t_contract
    <set >
      <if test="contract != null" >
        contract = #{contract,jdbcType=VARCHAR},
      </if>
      <if test="contractname != null" >
        contractname = #{contractname,jdbcType=VARCHAR},
      </if>
      <if test="contracttype != null" >
        contracttype = #{contracttype,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="cometime != null" >
        cometime = #{cometime,jdbcType=TIMESTAMP},
      </if>
      <if test="voidancetime != null" >
        voidancetime = #{voidancetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.entity.ContractBean" >
    update t_contract
    set contract = #{contract,jdbcType=VARCHAR},
      contractname = #{contractname,jdbcType=VARCHAR},
      contracttype = #{contracttype,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      cometime = #{cometime,jdbcType=TIMESTAMP},
      voidancetime = #{voidancetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="count" resultType="java.lang.Long">
  	    select count(*) from t_contract
    <include refid="sqlfind"></include>
    </select>

  <select id="findPage" resultMap="BaseResultMap">
    <bind name="key_off" value="(currPage - 1)*pageSize"/>
    select * from t_contract
    <include refid="sqlfind"></include>
    limit ${key_off},${pageSize}
  </select>


  <sql id="sqlfind">
    <where>
      <if test="name!=null and name!=''">
        and name like '%${name}%'
      </if>
    </where>
  </sql>


  <delete id="del">
    delete from t_contract where id in
    (<foreach collection="array" separator="," item="id">
    #{id}
  </foreach>)
  </delete>

  <update id="xiu">
    update t_contract
    <where>
      id = #{id}
    </where>
  </update>
</mapper>