<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../js/bootstrap/css/bootstrap.min.css">
    <script src="../js/bootstraps/bootstrap-paginator.js"></script>
    <script src="../js/vue/vue.min.js"></script>
</head>
<body>
<div id="app" class="container">
    <h1>人才管理</h1>
    <form action="" id="list_form">
        <div class="form-group">
            <label for="personnelName" class="col-sm-1 control-label">名称：</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="personnelName" v-model="personnelName" placeholder="请输入名称">
            </div>
        </div>
        <button type="button" class="btn btn-default" onclick="selectlistAll();">搜索</button>
    </form>
    <br>
    <button shiro:hasPermission="per:add" type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" onclick="huixian(0);"><i class="fa fa-file-o"></i> 新建</button>
    <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
    <a shiro:hasPermission="per:delete" class="btn btn-default" @click="piliang()">删除</a>
    <table class="table table-bordered">
        <tr>
            <th><input type="checkbox" name="check" id="qx" onclick="quanxuan()"></th>
            <th>序号</th>
            <th>姓名</th>
            <th>应聘岗位</th>
            <th>联系方式</th>
            <th>信息来源</th>
            <th>面试反馈</th>
            <th>人员状态</th>
            <th>操作</th>
        </tr>
        <tr v-for="we in personnel">
            <td><input type="checkbox" name="check" :value="we.personnelId"></td>
            <td>{{we.personnelId}}</td>
            <td>{{we.personnelName}}</td>
            <td>{{we.jobApplication}}</td>
            <td>{{we.telephone}}</td>
            <td>{{we.infoSources}}</td>
            <td>{{we.feedback==0?"录用":we.feedback==1?"不合格":we.feedback==2?"持续沟通":""}}</td>
            <td>{{we.status==0?"跟进中":"已完成"}}</td>
            <td>
                <a shiro:hasPermission="per:update" class="btn btn-default" data-toggle="modal" data-target="#editModal" @click="huixian(we.personnelId)">详情</a>
                <a shiro:hasPermission="per:delete" class="btn btn-default" @click="shanchu(we.personnelId)">删除</a>
            </td>
        </tr>
    </table>
    <div class="col-md-6">
        <strong>当前第 {{currPage}}页,每页<select style="width:50px;" v-model="pageSize" @change="shuaxin()">
            <option value="3">3</option>
            <option value="6">6</option>
            <option value="8">8</option>
            <option value="10">10</option>
        </select>条,共 {{totalPage}} 页.一共 {{total}} 条记录
        </strong>
    </div>
    <div id="example" style="text-align: right"> <ul id="pageLimit"></ul> </div>
</div>

<!--新建弹框-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h3 id="myModalLabel">费用管理</h3>
            </div>
            <form id="forms" method="post">
                <div class="modal-body" id="ppa">
                    <table class="table table-bordered table-striped"  width="800px">
                        <input class="form-control" name="personnelId" style="display:none" v-model="list.personnelId" readonly="readonly">
                        <tr>
                            <td>姓名</td>
                            <td> <input class="form-control" name="personnelName" v-model="list.personnelName"></td>
                        </tr>
                        <tr>
                            <td>应聘岗位</td>
                            <td> <input class="form-control"   name="jobApplication" v-model="list.jobApplication"></td>
                        </tr>
                        <tr>
                            <td>联系方式</td>
                            <td> <input class="form-control"   name="telephone" v-model="list.telephone"></td>
                        </tr>
                        <tr>
                            <td>信息来源</td>
                            <td> <input class="form-control"   name="infoSources" v-model="list.infoSources"></td>
                        </tr>
                        <tr>
                            <td>面试反馈</td>
                            <td >
                                <select class="form-control" name="feedback" v-model="list.feedback">
                                    <option value="0">录用</option>
                                    <option value="1">不合格</option>
                                    <option value="2">持续沟通</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>状态</td>
                            <td>
                                <input type="radio"  name="status" v-model="list.status" value="0">跟进中
                                <input type="radio"  name="status" v-model="list.status" value="1">已完成
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" onclick="insert()" data-dismiss="modal" aria-hidden="true">保存</button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var vm=new Vue({
        el:'#app',
        data:{
            personnel:"",
            totalPage:"",
            total:"",
            currPage:"1",
            pageSize:"3",
            personnelName:""
        }
    })


    //新增
    function insert(){
        $.ajax({
            url:"../go/add",
            type:"post",
            data:$("#forms").serialize(),
            datatype:'json',
            success:function(){
                selectlistAll();
            },
        });
    }


    var vs = new Vue({
        el: '#ppa',
        data: {
            list:''
        }
    })

    function shuaxin(){
        selectlistAll();
    }
    function huixian(id){
        $.ajax({
            url:"../go/huixian",
            type:"post",
            data:{id:id},
            success:function(data){
                vs.list=data;
            },
        });
    }

    function piliang(){
        var arr = document.getElementsByName("check");
        var ids="";
        for ( var i = 0; i < arr.length; i++) {
            if (arr[i].checked) {
                ids+=ids==""?arr[i].value:","+arr[i].value;
            }
        }
        alert(ids);
        if (ids=="") {
            alert("请至少选中一条！");
            return;
        }

        $.ajax({
            url:"../go/delPer",
            type:"post",
            data:{id:ids},
            success:function(){
                alert("Nice成功");
                selectlistAll();

            }

        })
    }
    function shanchu(ids){
        alert(ids);
        $.ajax({
            url:"../go/delPer",
            type:"post",
            data:{id:ids},
            success:function(){
                alert("Nice成功");
                selectlistAll();
            }

        })
    }

    $(function(){
        selectlistAll();
    })
    function selectlistAll() {
        $.ajax({
            type:"post",
            url:"../go/list",
            data:{"currPage":vm.currPage,"pageSize":vm.pageSize,"personnelName":vm.personnelName},
            dataType:"json",
            success: function(result) {
                vm.personnel = result.rows;
                vm.totalPage = result.totalPage;
                vm.total = result.total;
                vm.currPage = result.currPage;
                vm.pageSize = result.pageSize;
                setPage(result.currPage,result.totalPage,result.pageSize,selectlistAll);
            },
            error : function() {
                alert("系统错误，请联系管理员！");
            }
        })
    }




    /**
     *
     * @param pageCurrent 当前所在页
     * @param pageSum 总页数
     * @param callback 调用ajax
     */
    function setPage(pageCurrent, pageSum, pageSize, callback) {
        $('#pageLimit').bootstrapPaginator({
            currentPage: pageCurrent,//当前的请求页面。
            totalPages: pageSum,//一共多少页。
            size:"normal",//应该是页眉的大小。
            bootstrapMajorVersion: 3,//bootstrap的版本要求。
            alignment:"right",
            numberOfPages:pageSize,//一页列出多少数据。
            itemTexts: function (type, page, current) {//如下的代码是将页眉显示的中文显示我们自定义的中文。
                switch (type) {
                    case "first": return "首页";
                    case "prev": return "上一页";
                    case "next": return "下一页";
                    case "last": return "末页";
                    case "page": return page;
                }
            },
            //当单击操作按钮的时候, 执行该函数, 调用ajax渲染页面
            onPageClicked: function (event,originalEvent,type,page) {
                // 把当前点击的页码赋值给currentPage, 调用ajax,渲染页面
                vm.currPage = page;
                callback && callback()
            }
        });
    }


</script>
</html>